extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Red de Bicicletas
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Nosostros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#services') Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contacto
  header.bg-primary.text-white
    .container.text-center
      h1 Bienvenidos a Express
      p.lead Comunidad online, la primera comunidad de ciclistas urbanos
  section#about
    .container
      .row
        .col-lg-8.mx-auto
          h2 Acerca de Nosotros
          p.lead
            | This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:
          ul
            li Clickable nav links that smooth scroll to page sections
            li Responsive behavior when clicking nav links perfect for a one page website
            li
              | Bootstrap&apos;s scrollspy feature which highlights which section of the page you&apos;re on in the navbar
            li Minimal custom CSS so you are free to explore your own unique design options
  section#services.bg-light
    .container
      .row
        .col-lg-8.mx-auto
          h2 Bicicletas
      #main_map
  section#contact
    .container
      .row
        .col-lg-8.mx-auto
          h2 Contactanos
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.
  // Footer
  footer.py-5.bg-dark
    .container
      p.m-0.text-center.text-white Copyright &copy; Red de Bicicletas 2020
  // /.container
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  // Custom JavaScript for this theme
  script(src='/javascripts/scrolling-nav.js')
  script(src='/javascripts/map.js')
